<div class="background">
    <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>All Products</h2>
        <hr>
        <div class="all">
          <ul>
            <% @products.each do |product| %>
            <li><%= link_to product.name, product_path(product)%><br>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <h2>Recently Added</h2>
        <hr>
        <ul>
          <% @recent_products.each do |product|%>
            <li><%= link_to product.name, product_path(product)%><br>
          <%end%>
        </ul>
        <br>
        <h2>Most Reviewed</h2>
        <hr>
        <ul>
          <% @review_products.each do |product|%>
          <li><%= link_to product.name, product_path(product)%><br>
          <%end%>
        </ul>
        <br>

        <% if @usa_products.any? %>
        <h2>Domestic Origin</h2>
        <hr>
        <ul>
          <% @usa_products.each do |product|%>
          <li><%= link_to product.name, product_path(product)%><br>
          <%end%>
        </ul>
        <% end %>
      </div>
    </div>
    <hr>
    <h4><%= link_to "Add a New Product", new_product_path %></h4>
  </div>
</div>
