<div class="container">
<h1><%= @product.name %>, <%= @product.country %></h1>
<h2>$<%= @product.cost %></h2>
<h2> </h2>
<div class="links">
  <ul>
    <li><%= link_to "Add a review", new_product_review_path(@product) %></li>
    <li><%= link_to "Edit Product Information", edit_product_path(@product) %></li>
    <li><%= link_to "Delete Product", product_path(@product),
                             :data => {:confirm => "You sure?",
                                       :method => "delete"} %></li>
  </ul>
</div>
<br><br>
<hr>
<% if @product.reviews.any? %>
  <h3>Reviews:</h3>
<div class="all">
  <ul>
    <% @product.reviews.each do |review| %>
      <li>
        Rating: <%= review.rating %>
        <br>
        Comments: "<%= review.content %>"
        <br>
        <%= review.author %>
      </li>
      <br>
    <% end %>
  </ul>
</div>
<% else %>
  <p>There are no reviews yet!</p>
<% end %>


</div>
